.container {
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
        font-size: 18px;
    }

    .blue-text {
        color : #448BEF;
    }

    ul {
        list-style-type: none;
        padding: 0;
        li {
            margin: 1rem 0;
            display: flex;
            align-items: center;
            font-size: 18px;
            img {
                margin-right: 1rem;
                width: 30px;
            }
            a {
                display: flex;
                align-items: center;
            }
        }
    }
}

main {
    display: flex;;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}

label {
    font-size: 18px;
    font-weight: 600;
}

.left {
    width: 40%;
    max-width: 548px;
}

.right {
    width: calc(695px + 58px);
}

.left, .right {
    display: flex;
    flex-direction: column;
}

.bottom-left {
    margin-top: 2rem;
    padding: 2rem 2rem;
}

.bottom {
    margin-top: 25px;
}

.top-left {
    padding: 2rem 2rem;
}

.h1-contact {
    font-size: 35px;
}

.h2-contact {
    font-size: 25px;
}

.h1-contact, .h2-contact {
    text-transform: uppercase;
    margin: 0;
}

.errors {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    width: 100%;

    ul {
        padding: 0.5px 0;
        list-style-type: none;
    }
}

.errors-w {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    width: 100%;

    ul {
        padding: 0.5px 0;
        list-style-type: none;
    }
}

.alert-success {
    color: white;
    height: 2rem;
    width: 100%;
    background-color: green;
    font-size: 0.7rem;
    margin: 2rem 0 0 0;
    width: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 690px;
        margin-left: 58px;
        padding: 49px 85px;

        .container-checkbox {
            .checkbox-label {
                display: flex;
                flex-direction: row-reverse;
                label {
                    text-justify: inter-word;
                    font-size: 0.8rem;
                    margin-left: 0.5rem;
                }
            }
        }

        .container-button {
            width: 100%;
            display: flex;
            justify-content: center;

            button {
                margin-top: 1rem;
                border: none;
                border-radius: 10px;
                background-color: #448BEF;
                color: white;
                font-size: 1rem;
                padding: 0.5rem 1rem;
                cursor: pointer;
                outline: none;
                width: 10rem;

                &:hover {
                    background-color: #2F5E9E;
                    transition: 0.3s;
                }
            }
        }

        .form-group {
            display: flex;
            flex-direction: column;
        }

        .top-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .row {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                margin-bottom: 0.5rem;
                border: none;
                border-bottom: 1px solid black;
                font-size: 0.8rem;
                outline: none;
                padding: 0;
                width: 230px;
                height: 44px;
            }
        }

        .form-solo {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 25px;

            select {
                border: 1px solid black;
                height: 2rem;
                background: white;
                appearance:none;
                padding-left: 1rem;
                cursor: pointer;
                box-shadow:none;
                outline: none;
                border-radius: 25px;
                margin: 0.5rem 0;

                &:hover {
                    background-color: #bed5f5;
                    border: none;
                    padding-left: 1.1rem;
                    transition: 0.3s;
                }
            }

            textarea {
                margin: 0.5rem 0;
                border: 1px solid black;
                border-radius: 25px;
                font-size: 1rem;
                outline: none;
                padding: 1rem 10px;
                width: 100%;
                resize: none;
                height: 180px;
            }
        }
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media screen and (max-width: 1432px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .right {
            display: flex;
            align-items: center;
            form {
                margin-left: 0;
                margin-bottom: 58px;
            }
        }

        .left {
            margin-bottom: 2.2rem;
            width: calc(695px + 58px);
            display: flex;
            align-items: center;
            .top-left, .bottom-left {
                width: 696px;
            }
        }
    }
}

@media screen and (max-width: 805px) {
    main {
        margin-top: 0;
        .right {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 40px 15px 20px 15px;
            form {
                margin-left: 0;
                margin-bottom: 58px;
                padding: 2rem 1.5rem;
                width: 100%;
                font-size: 14px;

                input, textarea, select {
                    font-size: 12px !important;
                    padding: 0.5rem 0.8rem !important;
                }

                .form-solo {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                .top-row {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    width: 100%;

                    .row {
                        width: 100%;
                        .form-group {
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            .form-input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .left {
            width: 100%;
            display: flex;
            align-items: center;
            max-width: 100%;
            padding: 40px 15px 20px 15px;
            margin-bottom: 0;
            .top-left, .bottom-left {
                width: 100%;
                padding: 2rem 1.5rem;

                .h1-contact {
                    font-size: 22px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 12px;
                }

                .h2-contact {
                    font-size: 18px;
                }

                ul {
                    li {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 300px) {
    .img-contact {
        display: none;
    }
}