header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 37px 70px;

    img {
        width: 100px;
        height: 62px;
        margin-left: -10px;
        &:hover {
            cursor: pointer;
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;

        .icon-list-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 247px;
            height: 80px;
            border-radius: 25px;
            margin-left: 46px;
            li {
                .a-icon {
                    margin-right: 13px;
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: black;

                    .middle-icon {
                        margin: 0 31px;
                    }

                    .icons-nav {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }

        .main-nav {
            a {
                margin-left: 46px;
                color: white;
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 1115px) {
    header {
        nav {
            ul {
                .icon-list-nav {
                    display: none;
                }
            }
        }
    }
}

#burger_icon {
    display: none;
}

.menuToggle {
    display: none;
}

.wrap {
    display: none;
}

@media screen and (max-width: 805px) {
    header {
        padding: 2rem 0 0 0;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        margin: 0 17px;

        #burger_icon {
            right: 17px;
        }
    }

    .list_nav_header {
        display: none;
    }

    #burger_icon {
        display: block;
        position: absolute;
        right: 2rem;
    }

    .menuToggle {
        display: flex;
    }

    .wrap {
        display: flex;
    }

    .nav {
        position: fixed;
        right: 100%;
        top: 0;
        bottom: 0;
        overflow: auto;
        z-index: 5;
        width: 40%;
        min-width: 10rem;
        display: block;
        margin: 9rem 17px 0 0;
        transition: all 0.6s ease;
        
        .rounded-li {
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        li {
            display: block;
            // box-shadow: #1F1F1F 0px 0px 10px 0px;
            a {
                line-height: normal;
                background-color: #1F1F1F;
                display: flex;
                height: 3rem;
                color: white;
                justify-content: flex-start;
                padding-left: 1.5rem;

                &:hover {
                    background-color: #1c1c1c;
                    color: white;
                }

                img {
                    margin-right: 0.5rem;
                }

                &:active {
                    border: none;
                    background: #1F1F1F;
                    color: white;
                }
            }
        }
    }

    .toggle .nav {
        right: 0;
        transition: all 0.6s ease;
    }

    .header-toggle {
        z-index: 10;
    }

    .menuToggle{
        position:relative;
        z-index:5;
    }

}
.nav {
    list-style-type: none;
    clear: both;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 2px;
        color: black;
        text-decoration: none;
        font-size: 1rem;
        height: 6rem;
        &:hover {
            color: #1F1F1F;
        }
    }

    li {
        display: inline-block;
    }
}

.menuToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    position: absolute;
    right: 1rem;
}


/**
 * ----------------------------------------
 * animation burger button
 * ----------------------------------------
 */


.line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
