<header>
    <div class="logo-container">
        <a href="index.php">
            <img src="{{ asset('images/logo.svg') }}" alt="logo">
        </a>
    </div>
    <nav>
        <ul>
            <li class="main-nav"><a href="#">ACCUEIL</a></li>
            <li class="main-nav"><a href="#">À PROPOS</a></li>
            <li class="main-nav"><a href="#">PROJETS</a></li>
            <li class="main-nav"><a href="#">CONTACT</a></li>
            <div class="icon-list-nav">
                <li><a href="#"><img class="icons-nav" src="{{ asset('images/github.svg') }}" alt="github icone" /></a></li>
                <li><a href="#"><img class="icons-nav middle-icon" src="{{ asset('images/linkedin.svg') }}" alt="linkedin icone" /></a></li>
                <li><a href="#"><img class="icons-nav" src="{{ asset('images/france.svg') }}" alt="france icone" /></a></li>
            </div>
        </ul>
    </nav>
</header>