{% extends 'base.html.twig' %}

{% block title %}Edit ProjectTag{% endblock %}

{% block body %}
    <h1>Edit ProjectTag</h1>

    {{ include('project_tag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_project_tag_index') }}">back to list</a>

    {{ include('project_tag/_delete_form.html.twig') }}
{% endblock %}
