{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<style>
    h1 {
        margin-bottom: 2rem;
        color: white;
    }

    p {
        color: white;
        width: 50%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .this {
        color: #f5a623;
    }
</style>
<h1>🚧 Page en chantier 🚧</h1>
<p>Je vois que tu es venu sur mon site un peu avance, il n'est pas encore officiellement déployé !</p>
<p>Bientôt tu pourras y trouver des informations sur mes projets, mes compétences et mes expériences professionnelles. Et un footer de qualité !</p>
<p>Tu peux retrouver la liste de mes projets en cours sur mon <span class="this">GitHub</span> ou me contacter sur mon <span class="this">linkedIn</span> (tu as les liens dans la barre de navigation en haut de la page).</p>
{% endblock %}
